body {
    background-color: #475e82;
}

nav {
    background-color: #7296D1;
    padding: 5px;
}

a, p, h1, h2, h3, b {
    color: #c1cfe8;
}

a, p, b {
    font-family: 'Tinos', serif;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}

#logoNav {
    width: 175px;
    height: auto;
    margin-bottom: 5px;
}

.material-symbols-outlined{
    color: #c1cfe8;
}

li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

#banner img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


#banner h1 {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

header img {
    margin-left: 20px
}

#inicio {
    display: flex;
    gap: 100px; /* espacio entre cada columna*/
    justify-content: center;
}

#inicio .item {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

#inicio .item img {
    width: 100%;
    height: auto;
}

#inicio .item h2, #inicio .item p {
    text-align: center;
    margin: 10px 0 0 0;
}

#servicios {
    text-align: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

#servicios img {
    width: 200px;
    align-items: center;
    max-width: auto;
    margin-left: 80px;
}

#footer {
    display: flex;
    background-color: #7296D1;
}

#footer .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#footer img {
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

#footer b {
    margin-bottom: none;
}

#footer a {
    margin-top: none;
}

#footer .enlaces {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 20px;
}

button {
    background-color: #c1cfe8;
    border-color: #c1cfe8;
    cursor: pointer;
    align-items: end;
}
a.boton{
    color: black;
}


